@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply text-white min-h-screen;
  background-image: url('/backgrounds/stars.jpg');
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  font-family: 'Orbitron', sans-serif;
}
